# Deepgram API key (for voice transcription)
VITE_DEEPGRAM_KEY=

# AI API key (Groq or Cerebras)
VITE_API_KEY=

# AI API endpoint (Groq or Cerebras)
VITE_API_URL=

# AI Model to use (Groq or Cerebras)
VITE_API_MODEL=
